### please download the Credit-card Fraud detection csv file from viber and proceed it to find whether a transation is fraud or legit using logistic regression, decision tree classifier and random forest classifier.mcompare the result and show which performed better in this classification task.

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn import tree
import matplotlib.pyplot as plt

In [64]:
data = pd.read_csv('credit_card_fraud.csv')

In [65]:
data.head(), data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010000 entries, 0 to 1009999
Data columns (total 14 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   Transaction_ID           1010000 non-null  int64
 1   Transaction_Amount       989809 non-null   float64
 2   Transaction_Time         1010000 non-null  int64
 3   Transaction_Date         1010000 non-null  object
 4   Merchant_Category        1010000 non-null  object
 5   Merchant_Location        1010000 non-null  object
 6   Payment_Type             1010000 non-null  object
 7   Device_Type              1010000 non-null  object
 8   Customer_Age             989823 non-null   float64
 9   Customer_Gender          1010000 non-null  object
 10  Customer_Account_Tenure  1010000 non-null  float64
 11  Customer_Income_Bracket  989814 non-null   object
 12  Customer_Country         1010000 non-null  object
 13  Fraud_Flag               1010000 non-null  int64
dtypes: float64(3), int64(3), object(8)
memory usage: 107.9+ MB

(   Transaction_ID  Transaction_Amount  Transaction_Time     Transaction_Date  \
 0          617962             2443.38                13  2024-03-05 03:21:00
 1          110796             4084.92                 6  2023-03-18 22:35:00
 2          988942             3108.85                10  2024-11-17 18:21:00
 3          152882             1579.51                 0  2023-04-17 04:01:00
 4          669258              556.63                21  2024-04-09 18:17:00

   Merchant_Category Merchant_Location Payment_Type Device_Type  Customer_Age  \
 0              Fuel          New York       Credit     Desktop          45.0
 1          Clothing     San Francisco      Prepaid      Mobile          69.0
 2              Fuel     San Francisco       Credit      Tablet          50.0
 3       Electronics       Los Angeles       Credit      Mobile          27.0
 4       Restaurants          New York       Credit      Mobile          75.0

   Customer_Gender  Customer_Account_Tenure Customer_Income_Bracket  \
 0            Male                    15.13                     Low
 1           Other                     2.69                     Low
 2            Male                     1.69                    High
 3           Other                     7.90                    High
 4          Female                    10.74                     NaN

   Customer_Country  Fraud_Flag
 0            India           0
 1          Germany           0
 2            India           0
 3               UK           0
 4            India           0  ,
 None)

In [66]:
data.isnull().sum()

Transaction_ID                 0
Transaction_Amount         20191
Transaction_Time               0
Transaction_Date               0
Merchant_Category              0
Merchant_Location              0
Payment_Type                   0
Device_Type                    0
Customer_Age               20177
Customer_Gender                0
Customer_Account_Tenure        0
Customer_Income_Bracket    20186
Customer_Country               0
Fraud_Flag                     0
dtype: int64

In [67]:
data.head()

,Transaction_ID,Transaction_Amount,Transaction_Time,Transaction_Date,Merchant_Category,Merchant_Location,Payment_Type,Device_Type,Customer_Age,Customer_Gender,Customer_Account_Tenure,Customer_Income_Bracket,Customer_Country,Fraud_Flag
0,617962,2443.38,13,2024-03-05 03:21:00,Fuel,New York,Credit,Desktop,45.0,Male,15.13,Low,India,0
1,110796,4084.92,6,2023-03-18 22:35:00,Clothing,San Francisco,Prepaid,Mobile,69.0,Other,2.69,Low,Germany,0
2,988942,3108.85,10,2024-11-17 18:21:00,Fuel,San Francisco,Credit,Tablet,50.0,Male,1.69,High,India,0
3,152882,1579.51,0,2023-04-17 04:01:00,Electronics,Los Angeles,Credit,Mobile,27.0,Other,7.90,High,UK,0
4,669258,556.63,21,2024-04-09 18:17:00,Restaurants,New York,Credit,Mobile,75.0,Female,10.74,NaN,India,0

In [68]:
data.isnull().sum()

Transaction_ID                 0
Transaction_Amount         20191
Transaction_Time               0
Transaction_Date               0
Merchant_Category              0
Merchant_Location              0
Payment_Type                   0
Device_Type                    0
Customer_Age               20177
Customer_Gender                0
Customer_Account_Tenure        0
Customer_Income_Bracket    20186
Customer_Country               0
Fraud_Flag                     0
dtype: int64

In [69]:
data['Customer_Income_Bracket'].fillna(data['Customer_Income_Bracket'].mode()[0], inplace = True)
data['Customer_Age'].fillna(data['Customer_Age'].median(), inplace = True)
data['Transaction_Amount'].fillna(data['Transaction_Amount'].median(), inplace= True)

C:\Users\nimad\AppData\Local\Temp\ipykernel_8004\1295065790.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Customer_Income_Bracket'].fillna(data['Customer_Income_Bracket'].mode()[0], inplace = True)
C:\Users\nimad\AppData\Local\Temp\ipykernel_8004\1295065790.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Customer_Age'].fillna(data['Customer_Age'].median(), inplace = True)
C:\Users\nimad\AppData\Local\Temp\ipykernel_8004\1295065790.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Transaction_Amount'].fillna(data['Transaction_Amount'].median(), inplace= True)

In [70]:
data.isnull().sum()

Transaction_ID             0
Transaction_Amount         0
Transaction_Time           0
Transaction_Date           0
Merchant_Category          0
Merchant_Location          0
Payment_Type               0
Device_Type                0
Customer_Age               0
Customer_Gender            0
Customer_Account_Tenure    0
Customer_Income_Bracket    0
Customer_Country           0
Fraud_Flag                 0
dtype: int64

In [77]:
data['date']= data['Transaction_Date'].str[:10]
data['time']= data['Transaction_Date'].str[11:]

In [78]:
data['date'] =pd.to_datetime(data['date'],format='%Y-%m-%d').dt.date
data['time'] = pd.to_datetime(data['time'], format='%H:%M:%S').dt.time

In [79]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010000 entries, 0 to 1009999
Data columns (total 16 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   Transaction_ID           1010000 non-null  int64
 1   Transaction_Amount       1010000 non-null  float64
 2   Transaction_Time         1010000 non-null  int64
 3   Transaction_Date         1010000 non-null  object
 4   Merchant_Category        1010000 non-null  object
 5   Merchant_Location        1010000 non-null  object
 6   Payment_Type             1010000 non-null  object
 7   Device_Type              1010000 non-null  object
 8   Customer_Age             1010000 non-null  float64
 9   Customer_Gender          1010000 non-null  object
 10  Customer_Account_Tenure  1010000 non-null  float64
 11  Customer_Income_Bracket  1010000 non-null  object
 12  Customer_Country         1010000 non-null  object
 13  Fraud_Flag               1010000 non-null  int64
 14  date                     1010000 non-null  object
 15  time                     1010000 non-null  object
dtypes: float64(3), int64(3), object(10)
memory usage: 123.3+ MB

In [81]:
cat_columns = data.select_dtypes(include=['object', 'category']).columns.tolist()
num_columns = data.select_dtypes(include=['int64', 'float64']).columns.tolist()
cat_columns

['Transaction_Date',
 'Merchant_Category',
 'Merchant_Location',
 'Payment_Type',
 'Device_Type',
 'Customer_Gender',
 'Customer_Income_Bracket',
 'Customer_Country',
 'date',
 'time']

In [74]:
num_columns

['Transaction_ID',
 'Transaction_Amount',
 'Transaction_Time',
 'Customer_Age',
 'Customer_Account_Tenure',
 'Fraud_Flag']

In [60]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
for col in cat_columns:
    data[col]= le.fit_transform(data[col])

data.info(), data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010000 entries, 0 to 1009999
Data columns (total 16 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   Transaction_ID           1010000 non-null  int64
 1   Transaction_Amount       989809 non-null   float64
 2   Transaction_Time         1010000 non-null  int64
 3   Transaction_Date         1010000 non-null  int32
 4   Merchant_Category        1010000 non-null  int32
 5   Merchant_Location        1010000 non-null  int32
 6   Payment_Type             1010000 non-null  int32
 7   Device_Type              1010000 non-null  int32
 8   Customer_Age             989823 non-null   float64
 9   Customer_Gender          1010000 non-null  int32
 10  Customer_Account_Tenure  1010000 non-null  float64
 11  Customer_Income_Bracket  1010000 non-null  int32
 12  Customer_Country         1010000 non-null  int32
 13  Fraud_Flag               1010000 non-null  int64
 14  date                     1010000 non-null  int32
 15  time                     1010000 non-null  int32
dtypes: float64(3), int32(10), int64(3)
memory usage: 84.8 MB

(None,
    Transaction_ID  Transaction_Amount  Transaction_Time  Transaction_Date  \
 0          617962             2443.38                13            617961
 1          110796             4084.92                 6            110795
 2          988942             3108.85                10            988941
 3          152882             1579.51                 0            152881
 4          669258              556.63                21            669257

    Merchant_Category  Merchant_Location  Payment_Type  Device_Type  \
 0                  2                  4             0            0
 1                  0                  5             2            1
 2                  2                  5             0            2
 3                  1                  2             0            1
 4                  4                  4             0            1

    Customer_Age  Customer_Gender  Customer_Account_Tenure  \
 0          45.0                1                    15.13
 1          69.0                2                     2.69
 2          50.0                1                     1.69
 3          27.0                2                     7.90
 4          75.0                0                    10.74

    Customer_Income_Bracket  Customer_Country  Fraud_Flag  date  time
 0                        1                 3           0   429   201
 1                        1                 2           0    76  1355
 2                        0                 3           0   686  1101
 3                        0                 4           0   106   241
 4                        3                 3           0   464  1097  )

In [80]:
data.head()

,Transaction_ID,Transaction_Amount,Transaction_Time,Transaction_Date,Merchant_Category,Merchant_Location,Payment_Type,Device_Type,Customer_Age,Customer_Gender,Customer_Account_Tenure,Customer_Income_Bracket,Customer_Country,Fraud_Flag,date,time
0,617962,2443.38,13,2024-03-05 03:21:00,Fuel,New York,Credit,Desktop,45.0,Male,15.13,Low,India,0,2024-03-05,03:21:00
1,110796,4084.92,6,2023-03-18 22:35:00,Clothing,San Francisco,Prepaid,Mobile,69.0,Other,2.69,Low,Germany,0,2023-03-18,22:35:00
2,988942,3108.85,10,2024-11-17 18:21:00,Fuel,San Francisco,Credit,Tablet,50.0,Male,1.69,High,India,0,2024-11-17,18:21:00
3,152882,1579.51,0,2023-04-17 04:01:00,Electronics,Los Angeles,Credit,Mobile,27.0,Other,7.90,High,UK,0,2023-04-17,04:01:00
4,669258,556.63,21,2024-04-09 18:17:00,Restaurants,New York,Credit,Mobile,75.0,Female,10.74,Medium,India,0,2024-04-09,18:17:00

In [39]:
duplicates = data.duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")

Number of duplicate rows: 9778