In [1]:
import pandas as pd
import numpy as np

In [3]:
loan_data = pd.read_csv("loan_data.csv")
loan_data.head(), loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396030 entries, 0 to 396029
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   loan_amnt             396030 non-null  float64
 1   term                  396030 non-null  object
 2   int_rate              396030 non-null  float64
 3   installment           396030 non-null  float64
 4   grade                 396030 non-null  object
 5   sub_grade             396030 non-null  object
 6   emp_title             373103 non-null  object
 7   emp_length            377729 non-null  object
 8   home_ownership        396030 non-null  object
 9   annual_inc            396030 non-null  float64
 10  verification_status   396030 non-null  object
 11  issue_d               396030 non-null  object
 12  loan_status           396030 non-null  object
 13  purpose               396030 non-null  object
 14  title                 394274 non-null  object
 15  dti                   396030 non-null  float64
 16  earliest_cr_line      396030 non-null  object
 17  open_acc              396030 non-null  float64
 18  pub_rec               396030 non-null  float64
 19  revol_bal             396030 non-null  float64
 20  revol_util            395754 non-null  float64
 21  total_acc             396030 non-null  float64
 22  initial_list_status   396030 non-null  object
 23  application_type      396030 non-null  object
 24  mort_acc              358235 non-null  float64
 25  pub_rec_bankruptcies  395495 non-null  float64
 26  address               396030 non-null  object
dtypes: float64(12), object(15)
memory usage: 81.6+ MB

(   loan_amnt        term  int_rate  installment grade sub_grade  \
 0    10000.0   36 months     11.44       329.48     B        B4
 1     8000.0   36 months     11.99       265.68     B        B5
 2    15600.0   36 months     10.49       506.97     B        B3
 3     7200.0   36 months      6.49       220.65     A        A2
 4    24375.0   60 months     17.27       609.33     C        C5

                  emp_title emp_length home_ownership  annual_inc  ...  \
 0                Marketing  10+ years           RENT    117000.0  ...
 1          Credit analyst     4 years       MORTGAGE     65000.0  ...
 2             Statistician   < 1 year           RENT     43057.0  ...
 3          Client Advocate    6 years           RENT     54000.0  ...
 4  Destiny Management Inc.    9 years       MORTGAGE     55000.0  ...

   open_acc pub_rec revol_bal revol_util total_acc  initial_list_status  \
 0     16.0     0.0   36369.0       41.8      25.0                    w
 1     17.0     0.0   20131.0       53.3      27.0                    f
 2     13.0     0.0   11987.0       92.2      26.0                    f
 3      6.0     0.0    5472.0       21.5      13.0                    f
 4     13.0     0.0   24584.0       69.8      43.0                    f

   application_type  mort_acc  pub_rec_bankruptcies  \
 0       INDIVIDUAL       0.0                   0.0
 1       INDIVIDUAL       3.0                   0.0
 2       INDIVIDUAL       0.0                   0.0
 3       INDIVIDUAL       0.0                   0.0
 4       INDIVIDUAL       1.0                   0.0

                                            address
 0     0174 Michelle Gateway\nMendozaberg, OK 22690
 1  1076 Carney Fort Apt. 347\nLoganmouth, SD 05113
 2  87025 Mark Dale Apt. 269\nNew Sabrina, WV 05113
 3            823 Reid Ford\nDelacruzside, MA 00813
 4             679 Luna Roads\nGreggshire, VA 11650

 [5 rows x 27 columns],
 None)