In [1]:
import numpy as np
import pandas as pd

In [2]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key':['A','B','C','A','B','C'],
                   'data1': range(6),
                   'data2': rng.randint(0,10,6)},
                  columns =['key','data1','data2'])
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [3]:
df.groupby('key').aggregate([min,np.median,max])

C:\Users\nimad\AppData\Local\Temp\ipykernel_16496\2943854441.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby('key').aggregate([min,np.median,max])
C:\Users\nimad\AppData\Local\Temp\ipykernel_16496\2943854441.py:1: FutureWarning: The provided callable <function median at 0x000002137653D300> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df.groupby('key').aggregate([min,np.median,max])
C:\Users\nimad\AppData\Local\Temp\ipykernel_16496\2943854441.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby('key').aggregate([min,np.median,max])
C:\Users\nimad\AppData\Local\Temp\ipykernel_16496\2943854441.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby('key').aggregate([min,np.median,max])

    data1            data2
      min median max   min median max
key
A       0    1.5   3     3    4.0   5
B       1    2.5   4     0    3.5   7
C       2    3.5   5     3    6.0   9

In [4]:
df.groupby('key').aggregate({'data1':'min',
                             'data2':'max'})

     data1  data2
key
A        0      5
B        1      7
C        2      9

In [7]:
df.groupby('key').transform(lambda x: x-x.mean())

   data1  data2
0   -1.5    1.0
1   -1.5   -3.5
2   -1.5   -3.0
3    1.5   -1.0
4    1.5    3.5
5    1.5    3.0

In [8]:
from datetime import datetime

datetime(year=2016, month=7, day = 24)

datetime.datetime(2016, 7, 24, 0, 0)

In [9]:
from dateutil import parser
date = parser.parse("3rd of May, 2019")
date

datetime.datetime(2019, 5, 3, 0, 0)

In [10]:
date.strftime('%A')

'Friday'

In [11]:
date = pd.to_datetime('5th of August, 1963')
date

Timestamp('1963-08-05 00:00:00')

In [12]:
date.strftime('%A')

'Monday'

In [14]:
date + pd.to_timedelta(np.arange(10),'M')

ValueError: Units 'M', 'Y', and 'y' are no longer supported, as they do not represent unambiguous timedelta values durations.