In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as sm

In [2]:
education_districtwise = pd.read_csv("education_districtwise.csv")
education_districtwise = education_districtwise.dropna()

In [8]:
education_districtwise.head()

,AC_YEAR,STATCD,DISTCD,STATNAME,DISTNAME,DISTRICTS,BLOCKS,VILLAGES,CLUSTERS,TOTPOPULAT,...,UUNI_ALL,UUNI_SC,UUNI_ST,TOTCLS1G,TOTCLS2G,TOTCLS3G,TOTCLS4G,TOTCLS5G,TOTCLS6G,TOTCLS7G
0,2015-16,1,101,JAMMU & KASHMIR,KUPWARA,1,13,391,104,875564.0,...,21322,26,2594,3489,5315,27,62,23,852,239
1,2015-16,1,102,JAMMU & KASHMIR,BARAMULA,1,18,678,144,1015503.0,...,17307,0,1571,4127,5800,210,53,30,1665,360
2,2015-16,1,103,JAMMU & KASHMIR,SRINAGAR,1,8,94,65,1269751.0,...,5444,31,408,817,3284,886,11,0,2873,40
3,2015-16,1,104,JAMMU & KASHMIR,BADGAM,1,13,523,104,735753.0,...,12469,18,857,2290,3837,119,45,8,1035,325
4,2015-16,1,105,JAMMU & KASHMIR,PULWAMA,1,8,359,64,570060.0,...,7408,17,855,1688,2584,151,67,5,1101,209

In [9]:
education_districtwise['STATNAME'].unique()

array(['JAMMU & KASHMIR', 'HIMACHAL PRADESH', 'PUNJAB', 'CHANDIGARH',
       'UTTARAKHAND', 'HARYANA', 'DELHI', 'RAJASTHAN', 'UTTAR PRADESH',
       'BIHAR', 'SIKKIM', 'ARUNACHAL PRADESH', 'NAGALAND', 'MANIPUR',
       'MIZORAM', 'TRIPURA', 'MEGHALAYA', 'ASSAM', 'WEST BENGAL',
       'JHARKHAND', 'ODISHA', 'CHHATTISGARH', 'MADHYA PRADESH', 'GUJARAT',
       'DAMAN & DIU', 'DADRA & NAGAR HAVELI', 'MAHARASHTRA',
       'ANDHRA PRADESH', 'KARNATAKA', 'GOA', 'LAKSHADWEEP', 'KERALA',
       'TAMIL NADU', 'PUDUCHERRY', 'A & N ISLANDS', 'TELANGANA'],
      dtype=object)

In [12]:
UTTARAKHAND = education_districtwise[education_districtwise['STATNAME']=="UTTARAKHAND"]

In [13]:
SIKKIM = education_districtwise[education_districtwise['STATNAME']=="SIKKIM"]

In [14]:
sampled_UTTARAKHAND= UTTARAKHAND.sample(n=20, replace= True, random_state = 13490)

In [15]:
sampled_SIKKIM= SIKKIM.sample(n=20, replace= True, random_state = 39103)

In [16]:
sampled_UTTARAKHAND['OVERALL_LI'].mean()

78.532

In [17]:
sampled_SIKKIM['OVERALL_LI'].mean()

81.925

In [18]:
stats.ttest_ind(a=sampled_UTTARAKHAND['OVERALL_LI'], b =sampled_SIKKIM['OVERALL_LI'], equal_var= False)

TtestResult(statistic=-3.0239462816212535, pvalue=0.004695920326203838, df=34.35974828132103)

### since p value is lower then  significance value it should be rejected null hypo//accept alternative