In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as sm

In [2]:
aqi = pd.read_csv("c4_epa_air_quality.csv")
aqi = aqi.dropna()

In [53]:
aqi.head()

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
0,0,2018-01-01,Arizona,Maricopa,Buckeye,BUCKEYE,Carbon monoxide,Parts per million,0.473684,7
1,1,2018-01-01,Ohio,Belmont,Shadyside,Shadyside,Carbon monoxide,Parts per million,0.263158,5
2,2,2018-01-01,Wyoming,Teton,Not in a city,Yellowstone National Park - Old Faithful Snow ...,Carbon monoxide,Parts per million,0.111111,2
3,3,2018-01-01,Pennsylvania,Philadelphia,Philadelphia,North East Waste (NEW),Carbon monoxide,Parts per million,0.300000,3
4,4,2018-01-01,Iowa,Polk,Des Moines,CARPENTER,Carbon monoxide,Parts per million,0.215789,3

In [54]:
aqi['state_name'].unique()

array(['Arizona', 'Ohio', 'Wyoming', 'Pennsylvania', 'Iowa', 'Hawaii',
       'Colorado', 'Minnesota', 'Indiana', 'Missouri', 'Connecticut',
       'California', 'Nevada', 'Virginia', 'Rhode Island', 'Texas',
       'Illinois', 'Kansas', 'Maryland', 'New Jersey', 'Massachusetts',
       'Maine', 'Idaho', 'Florida', 'Vermont', 'Tennessee', 'Georgia',
       'South Dakota', 'North Carolina', 'Michigan', 'Nebraska',
       'Alabama', 'Washington', 'Kentucky', 'Oklahoma', 'New York',
       'North Dakota', 'Montana', 'Utah', 'Delaware', 'New Hampshire',
       'Louisiana', 'Mississippi', 'New Mexico', 'Oregon',
       'District Of Columbia', 'Arkansas', 'Puerto Rico',
       'South Carolina', 'Alaska', 'Wisconsin'], dtype=object)

In [55]:
aqi['county_name'].unique()

array(['Maricopa', 'Belmont', 'Teton', 'Philadelphia', 'Polk', 'Honolulu',
       'Larimer', 'Dakota', 'Marion', 'Hamilton', 'Jackson', 'Hartford',
       'San Bernardino', 'Washoe', 'Sacramento', 'Pima', 'Roanoke',
       'Linn', 'Stark', 'Providence', 'Harris', 'Clark', 'Orange',
       'Alameda', 'Cook', 'Wyandotte', 'Baltimore', 'Hennepin', 'Bergen',
       'Los Angeles', 'Fresno', 'Anoka', 'Suffolk', 'Cumberland', 'Ada',
       'San Mateo', 'La Plata', 'Contra Costa', 'Arlington', 'Butte',
       'Riverside', 'Chittenden', 'Hillsborough', 'Shelby', 'DeKalb',
       'Summit', 'Hampden', 'Minnehaha', 'Mecklenburg', 'Denver', 'Essex',
       'Kern', 'Cuyahoga', 'Scott', 'Allegheny', 'Wayne', 'Douglas',
       'St. Louis City', 'Jefferson', 'King', 'Wake', 'San Joaquin',
       'Garrett', 'Santa Barbara', 'Laramie', 'Edmonson', 'Tulsa',
       'Santa Clara', 'Humboldt', 'Union', 'Howard', 'Erie', 'El Paso',
       'Oklahoma', 'Pinellas', 'Mesa', 'Adams', 'New Haven', 'Imperial',
       'Burleigh', 'Litchfield', 'Bronx', 'Miami-Dade', 'Lewis and Clark',
       'Richmond City', 'San Diego', 'Converse', 'Monroe', 'Salt Lake',
       'Broward', 'Marin', 'Gallatin', 'New Castle', 'York', 'Duval',
       'San Francisco', 'Worcester', 'Franklin', 'East Baton Rouge',
       'Bexar', 'Rutland', 'Stanislaus', 'Camden', 'Hinds', 'Bernalillo',
       'Lake', 'Weber', 'Hudson', 'New York', 'Saint Clair', 'Wakulla',
       'Inyo', 'Queens', 'Adair', 'Multnomah', 'Hancock', 'Rockingham',
       'District of Columbia', 'Steuben', 'Champaign', 'Pulaski', 'Ponce',
       'Madera', 'Hampton City', 'Ramsey', 'Weld', 'Tarrant',
       'Vanderburgh', 'Sonoma', 'Napa', 'Richland', "Prince George's",
       'Kent', 'Fulton', 'Travis', 'Monterey', 'Montgomery', 'Albany',
       'Lackawanna', 'Solano', 'Anchorage ', 'La Paz', 'Preble',
       'Fairbanks North Star ', 'Fairfield', 'Dallas', 'Washington',
       'Dodge'], dtype=object)

In [52]:
California = aqi[aqi['state_name']=='California']

In [56]:
Los_angeles = aqi[aqi['county_name']=='Los Angeles']

In [43]:
sampled_California = California.sample(n=20, replace=True,random_state =13490)

In [57]:
sampled_Los_angeles = Los_angeles.sample(n=20, replace=True,random_state =13490)

In [47]:
print(sampled_California.columns)

Index(['Unnamed: 0', 'date_local', 'state_name', 'county_name', 'city_name',
       'local_site_name', 'parameter_name', 'units_of_measure',
       'arithmetic_mean', 'aqi'],
      dtype='object')