In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
data1 = np.array([0.23,0.5,0.75,1.0])
data1

array([0.23, 0.5 , 0.75, 1.  ])

In [6]:
data = pd.Series([0.23,0.5,0.75,1.0])

In [7]:
data

0    0.23
1    0.50
2    0.75
3    1.00
dtype: float64

In [8]:
type(data)

pandas.core.series.Series

In [9]:
data.values

array([0.23, 0.5 , 0.75, 1.  ])

In [10]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
data[2]

0.75

In [12]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [16]:
data = pd.Series([0.23,0.5,0.75,1.0], index=['a','b','c','d'])
data

a    0.23
b    0.50
c    0.75
d    1.00
dtype: float64

In [18]:
data2 = pd.Series([0.23,0.5,0.75,1.0], index=[6,7,8,9])
data2

6    0.23
7    0.50
8    0.75
9    1.00
dtype: float64

In [17]:
data['c']

0.75

In [19]:
population_dict = {'california':38,
                   'Texas':26,
                   'New York' :20,
                   'Florida' : 19,
                   'Illinois': 13
                  }
population = pd.Series(population_dict)
population

california    38
Texas         26
New York      20
Florida       19
Illinois      13
dtype: int64

In [20]:
population['california':'New York']

california    38
Texas         26
New York      20
dtype: int64

In [21]:
pd.Series(7 , index =[10,20,30])

10    7
20    7
30    7
dtype: int64

In [23]:
pd.Series({2:'a',5:'b',3:'c'}, index=[3,2])

3    c
2    a
dtype: object

In [24]:
area_dict ={'california': 423,
            'Texas': 695,
            'New York':141,
            'Florida':170,
            'Illinois':150
           }

In [25]:
area = pd.Series(area_dict)
area

california    423
Texas         695
New York      141
Florida       170
Illinois      150
dtype: int64

In [28]:
states = pd.DataFrame({'population': population,
                       'area': area
                      })
states

            population  area
california          38   423
Texas               26   695
New York            20   141
Florida             19   170
Illinois            13   150

In [29]:
type(states)

pandas.core.frame.DataFrame

In [30]:
states.index

Index(['california', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [31]:
states.columns

Index(['population', 'area'], dtype='object')

In [32]:
states['area']

california    423
Texas         695
New York      141
Florida       170
Illinois      150
Name: area, dtype: int64

In [33]:
states['population']

california    38
Texas         26
New York      20
Florida       19
Illinois      13
Name: population, dtype: int64

In [36]:
population

california    38
Texas         26
New York      20
Florida       19
Illinois      13
dtype: int64

In [37]:
pd.DataFrame(population, columns=['population'])

            population
california          38
Texas               26
New York            20
Florida             19
Illinois            13

In [40]:
data = [{'a':i, 'b': 2*i}  for i in range(6)]

pd.DataFrame(data)

   a   b
0  0   0
1  1   2
2  2   4
3  3   6
4  4   8
5  5  10

In [41]:
pd.DataFrame([{'a':2, 'b':5}, {'b':7, 'c':1}])

     a  b    c
0  2.0  5  NaN
1  NaN  7  1.0

In [42]:
data = pd.Series ([0.25,0.5,0.75,1.0], index =['a','b','c','d'])

In [43]:
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [44]:
'd' in data

True

In [45]:
'e' in data

False

In [46]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [48]:
data.value()

AttributeError: 'Series' object has no attribute 'value'

In [49]:
data.items()

In [51]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [53]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [56]:
data['d'] = 1.5
data

a    0.25
b    0.50
c    0.75
d    1.50
e    1.25
dtype: float64

In [62]:
data = pd.Series(['x','y','z'], index =[1,3,5])

In [63]:
data

1    x
3    y
5    z
dtype: object

In [64]:
data[1]

'x'

In [65]:
data.loc[1]

'x'

In [66]:
data.iloc[1]

'y'

In [68]:
states['density'] = states['population']/ states['area']
states

            population  area   density
california          38   423  0.089835
Texas               26   695  0.037410
New York            20   141  0.141844
Florida             19   170  0.111765
Illinois            13   150  0.086667