In [1]:
lis = ["One","Two","Three"]
for i in lis:
    print(i)

One
Two
Three

In [2]:
for i in "Python":
    print(i)

P
y
t
h
o
n

In [3]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [5]:
for i in range(2,6):
    print(i)

2
3
4
5

In [6]:
for i in range(2,10,2):
    print(i)

2
4
6
8

### nested loop

In [9]:
colors =["red","blue","green"]
objects =['chair','table','house']
for i in colors:
    for j in objects:
        print(i,j)

red chair
red table
red house
blue chair
blue table
blue house
green chair
green table
green house

### taks1

In [11]:
for i in range(1,6):
    for j in range(1,11):
        print(i*j)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50

### function

In [12]:
def add(x,y):  #ddefining the function name add with x and y parameter
    return x+y   # this function return the sum of x and y parameter

add(2,3) #recalling the function add with 2 and 3 arguments

5

In [16]:
print(add(3,8))
print(add(4,2))
add(12,23)

11
6

35

In [17]:
add(2,3,4)

TypeError: add() takes 2 positional arguments but 3 were given

In [18]:
add(2)

TypeError: add() missing 1 required positional argument: 'y'

In [21]:
def multiple(x,y):
    return x*y

print(multiple(2,3))

6

In [24]:
def add(*nums):
    sum=0
    for i in nums:
        sum+=i
    return sum

add(2,3,3,4,5,5)

22

In [25]:
def multiple(x,y=3):
    return x*y

multiple(3)

9

In [26]:
multiple(4,4)

16

In [31]:
def subtract(x=3,y):
    return x-y

subtract(2)

SyntaxError: parameter without a default follows parameter with a default (56540604.py, line 1)

In [32]:
## solve above error

## lambda function

In [34]:
sum = lambda x,y,z: x+y+z

sum(1,2,3)

6

In [37]:
test = (1,2,3)
test[0]= 5

TypeError: 'tuple' object does not support item assignment